<h1> Lets Create Heroine Together! </h1>

<%= form_for @heroine do |h| %>
    <%= h.label :super_name %>
    <%= h.text_field :super_name %>
    <%= h.label :name %>
    <%= h.text_field :name %>
    <%= h.collection_select :power_id, Power.all, :id, :name, prompt: true %>
    <%= h.submit %>
    <% end %>