<h1> Add a heroine!</h1>

<%= form_for @heroine do |f| %>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <%= f.label :super_name %>
    <br>
    <%= f.text_field :super_name %> 
    <br>
    Select a power:  <br> <%= f.collection_select :power_id, Power.all, :id, :name, prompt: true %>
    <br>
    <br>
    <%= f.submit "Add this persona" %>

    <% end %>